/* **************************************************************** */
/* Fonts */
/* **************************************************************** */

$font-serif: "chaparral-pro-1", "chaparral-pro-2", Palatino Linotype, Palatino, serif;
$font-sans: "Helvetica Neue", Helvetica, sans-serif;
$font-fixed: Menlo, Consolas, Inconsolata, Monaco, monospace;
$font-helv: "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;


/* **************************************************************** */
/* Colors */
/* **************************************************************** */

$dark-charcoal: #222;
$charcoal: #444;
$gray: #888;
$light-gray: #ccc;


$buttonLinkImageWidth: 96px;
$imgPositionOffset: 5px;
