// Make sure the charset is set appropriately @charset"UTF-8";
@import '_normalize';
@import 'foundation';
@import '_foundation-overrides';
@import '_mixins';
@import '_variables';
@import '_travel';
@import '_main-nav';
@import '_dark-mode';

//=============================================================================
// Basic styles
//=============================================================================

body {
    text-rendering: optimizelegibility;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
select,
textarea {
    font-family: $font-serif; // Includes Typekit but falls back to Helvetica, etc
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal !important;
    color: $dark-charcoal; // #3A87AD;

    @media (prefers-color-scheme: dark) {
        color: white;
    }
}

pre,
code,
kbd,
samp {
    font-family: $font-fixed;
}

code {
    font-size: 90%;
}

.clearfix {
    @include clearfix;
}

main,
[role='main'] {
    margin: 1rem auto;
    max-width: 980px;
    padding: 0 1rem;

    & > section {
        &:nth-child-of-type(1) {
            margin-top: 1rem;
        }

        &:last-child {
            margin-bottom: 1rem;
        }
    }
}

@media (max-width: #{$medium-screen}) {
    [role='main'] {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}

p,
li {
    font-family: $font-serif;
    font-size: 18px;
    line-height: 22px;
}

section {
    h2 {
        margin: 1rem 0 0.5rem 0;
    }
}

figure {
    margin-bottom: 1rem;

    img {
        box-shadow: 0 0 2px black;
    }
}

//TODO: Make Foundation generate these button styles
.button {
    font-family: $font-sans;
    color: #ffffff;
    background-color: #428bca;
    border-color: #357ebd;
    border-radius: 4px;

    // https://getbootstrap.com/css/#buttons
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    box-shadow: none;

    &:hover {
        color: #ffffff;
        background-color: #3276b1;
        border-color: #285e8e;
    }
}

.button-link-list {
    a {
        display: block;
        padding: 0.5rem 0.25rem;
        text-align: left;
        text-decoration: none;

        &:active,
        &:hover,
        &:focus {
            text-decoration: underline;
        }

        img {
            float: left;
            height: $buttonLinkImageWidth / 2;
            width: $buttonLinkImageWidth / 2;
        }

        span {
            display: block;
            margin-left: ($buttonLinkImageWidth / 2) + 4;
            font-size: 1.75rem;
            line-height: 1.1rem;
        }
    }
}

// Bigger than phone
// ---------------------
@media #{$tiny} {
    // 480px and up
    body,
    button,
    input,
    select,
    textarea {
        color: $charcoal;

        @media (prefers-color-scheme: dark) {
            color: white;
        }
    }

    p,
    li {
        font-size: remCalc(20px);
        line-height: remCalc(28px);
    }

    li {
        margin-bottom: 0.5rem;
    }
}

// PORTRAIT TABLET AND UP
// ----------------------------------

@media #{$small} {
    // 600px and up
}

// DEFAULT DESKTOP
// ---------------
@media #{$medium} {
    // 980px and up
    .button-link-list {
        & > div {
            margin-bottom: 2%;
            border-radius: 4px;
        }
    }

    .row {
        margin-left: 0;
    }
}

.cp-row {
    display: flex;
    flex-wrap: wrap;

    .cp-item-third {
        display: block;
        flex-basis: 33%;
        max-width: 33%;

        @media (max-width: #{$medium-screen}) {
            flex-basis: 50%;
            max-width: 50%;
        }

        @media (max-width: #{$small-screen}) {
            flex-basis: 100%;
            max-width: 100%;
        }

        a {
            span {
                line-height: normal;
            }

            img {
                border-radius: 3px;
            }
        }
    }

    .cp-item-half {
        flex-basis: calc(50% - 1rem);
        max-width: calc(50% - 1rem);
        margin-right: 2rem;
        margin-bottom: 2rem;

        &:nth-child(even) {
            margin-right: 0;
        }

        img {
            width: 96px;
            height: 96px;
        }

        @media (max-width: #{$small-screen}) {
            flex-basis: 100%;
            max-width: 100%;
            margin-right: 0;
        }

        a,
        a span {
            line-height: normal;
        }
    }

    &.button-link-list {
        .cp-item-half,
        .cp-item-third {
            margin-bottom: 1em;

            a {
                display: flex;
                align-items: center;

                img {
                    border-radius: 3px;
                }

                span {
                    flex-grow: 1;
                    margin-left: 1rem;
                }
            }
        }
    }
}
