Patik.com.sublime-project
Patik.com.sublime-workspace
sftp-config.json
sftp-settings.json
.DS_Store
inc/keys.php
blog/
thinkup/
photos/
Templates/
nysbanner/
stuff/
blurb/
ai-cache/
admin/
_private/


font-face/
gps_files/
ophoto/
js/libs/ajaxify-html5.js
js/libs/jquery.history.js
