.post-body object,
.post-body figure,
.post-body img {
    margin: 0 auto;
}

.inline-code {
    font-family: Monaco, Consolas, 'Andale Mono', 'DejaVu Sans Mono', monospace;
    background-color: rgba(0, 0, 0, 0.1);
}

.codeFence code > span[data='highlight'] {
    display: block;
}

[data='highlight'] {
    background: rgba(255, 255, 255, 0.1);
    margin: 0 -1.5rem;
    padding: 0 1.5rem;
}

.codeFence code {
    transform: translateZ(0);
    min-width: 100%;
    float: left;
}

.codeFence code > span {
    display: block;
}
