#title-slide h1 {
  top: 40%;
  font-size: 3em;
}


#my-info {
  position: absolute;
  bottom: 10%;
}

#my-info ul {
  list-style: none outside none;
  margin: 0;
}

#my-info li {
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.bottom {
  position: absolute;
  bottom: 10%;
  margin-bottom: 0 !important;
}

.bottom.float-right {
  right: 0;
}

/* nested lists have too much padding */
.slide li ul,
.slide li ol {
	margin-bottom: 8px;
}

.slide li li ul,
.slide li li ol {
	margin-bottom: 0;
}

.slide.deck-previous,
.slide.deck-before {
  opacity: 1 !important;
}

.source-link {
  text-align: right;
  font-style: italic !important;
  font-size: smaller;
}

li.indented {
  list-style-type: circle;
  margin-left: 2em !important;
}

/* Boston Globe screenshots */
.bg-images {
  margin: 0 auto !important;
  overflow: hidden;
  clear: both;
  text-align: center;
}

.bg-images figure {
  min-width: 50%;
  margin-left: 1em;
}

.bg-images figure:first-child {
  float: left;
}

.bg-images figcaption {
  font-weight: bold;
  margin-bottom: 2em;
  text-align: center;
}

.bg-images img {
  margin-bottom: 0.5em;
  height: 400px;
}


@media print {
  
}
