body { 
		
	font-size: 12px; 
	background-color: #ffffff; 
	color: #000000; 
}
h1 { 
	font-family: verdana, geneva, arial, helvetica, sans-serif; 
	font-size: 20px; 
	color: #af0e0f; 
	font-style: italic; 
	text-decoration: none; 
	background-color: inherit;
}
h2 { 
	font-family: verdana, geneva, arial, helvetica, sans-serif; 
	font-size: 18px; 
	color: #000033; 
	text-decoration: none; 
	background-color: inherit;
}

hr {
	width: 60%;
	text-align: center;
	color: #af0e0f;
	background-color: #af0e0f;
}

tt {
	color: #af0e0f;
	font-weight: bold;
	background-color: inherit;
}

.text {
	font-family: verdana, geneva, arial, helvetica, sans-serif; 
	font-size: 12px; 
	color: #000000; 
	background-color: inherit;
	font-weight: normal;
	font-style: normal;
}

/* ********************************* */
/* For the boxes that contain code */
/* ********************************* */
div.codeblock {
	color: black;
	background-color : #eeeeee;
	margin-top : auto;
	margin-bottom : auto;
	margin-left: 30px;
	margin-right: 30px;
	padding : 10px;
	border: thin solid Gray;
}

/* For the text that is shown as code */
code { 
	font-family: Courier, Courier New, Lucida Sans, fixed-width, monospace; 
	font-size: 12px; 
	color: green; 
	font-weight: bold;
	background-color: inherit;
}

/* ********************* */
/* For centering tables */
/* ********************* */
div.tablecenter {
	text-align:center;
}
div.tablecenter table {
	margin-left:auto;
	margin-right:auto;
	text-align:left;
}
div.tablecenter th {
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

/* ***************************************** */
/* For the table of internal links at the top */
/* ***************************************** */
table.links {
	color: inherit;
	text-align:center;
	background-color:#eeeeee;
	border-collapse: collapse;
}

table.links td {
	border: thin white solid;
	border-right: thin silver solid;
	padding:5px;
}

table.links td:hover {
	color: inherit;
	background-color: silver;
}

table.links td:hover a {
	color: #f80000;
	background-color: inherit;
}

/* ******************************** */
/* For the table of example links */
/* ******************************** */
table.clicklinks {
	color: inherit;
	text-align:center;
	background-color:#eeeeee;
	border-collapse: collapse;
}

table.clicklinks td {
	width: 100px;
	text-align: center;
	border: thin white solid;
	border-right: thin silver solid;
	padding:10px;
}

/* ****************************************** */

table.clicklinks a.click1 {
	color: blue;
	font-weight: normal;
	text-decoration: underline;
	background-color: inherit;
}

table.clicklinks a.click1:hover {
	text-decoration: underline;
	color: red;
	font-weight: normal;
	background-color: inherit;
}


/* ***************************************** */

table.clicklinks a.click2 {
	color: red;
	font-weight: normal;
	text-decoration: underline;
	background-color: inherit;
}

table.clicklinks a.click2:hover {
	text-decoration: overline underline;
	color: green;
	font-weight: bold;
	background-color: inherit;
}

table.clicklinks a.click2:active {
	font-size: 10px;
	text-decoration: overline underline;
	color: green;
	font-weight: bold;
	background-color: inherit;
}

/* ***************************************** */

table.clicklinks a.click3 {
	text-decoration: none;
	color: black;
	font-weight: normal;
	font-style: normal;
	background-color: white;
	padding: 5px;
}

table.clicklinks a.click3:hover {
	font-style: normal;
	color: white;
	font-weight: normal;
	background-color: black;
	padding: 5px;
}

table.clicklinks a.click3:active {
	font-style: italic;
	color: white;
	font-weight: normal;
	background-color: black;
	padding: 5px;
}

/* ******************************** */
/* For the table of code examples */
/* ******************************** */

td {
	vertical-align: top;
}

td.function {
	width: 20%;
	font-family: Courier, Courier New, Lucida Sans, fixed-width, monospace; 
	font-size: 12px; 
	color: green; 
	font-weight: bold;
	background-color: inherit;
}

td.values {
	width: 20%;
	font-family: Courier, Courier New, Lucida Sans, fixed-width, monospace; 
	font-size: 12px;
}

td.description {
	width: 60%;
}

th {
	vertical-align: baseline;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

tr.functionheader {
	color: black;
	font-style: italic;
	font-weight: bold;
	font-size: 18px;
	background-color: #eeeeee;
}

	

p { 
	font-family: verdana, geneva, arial, helvetica, sans-serif; 
	font-size: 12px; 
	color: #000000; 
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: inherit;
}



a { 
	font-family: verdana, geneva, arial, helvetica, sans-serif; 
	font-size: 12px; 
	color: #00008B; 
	font-weight: bold; 
	text-decoration: underline;
	background-color: inherit;
}
a:active { 
	color: #f80000;
	background-color: inherit;
}
a:visited { 
	color: #00008B; 
	text-decoration: underline; 
	background-color: inherit;
}
a:hover { 
	color: #f80000; 
	text-decoration: none; 
	background-color: inherit;
}

