body { 
	font-family: verdana, geneva, arial, helvetica, sans-serif; 
	font-size: 12px; 
	background-color: #ffffff; 
	color: #000000; 
}
h1 { 
	font-family: verdana, geneva, arial, helvetica, sans-serif; 
	font-size: 20px; 
	color: #af0e0f; 
	font-style: italic; 
	text-decoration: none; 
}
h2 { 
	font-family: verdana, geneva, arial, helvetica, sans-serif; 
	font-size: 18px; 
	color: #000033; 
	text-decoration: none; 
}


/* ********************************* */
/* For the boxes that contain code */
/* ********************************* */
div.codeblock {
	background-color : #eeeeee;
	margin-top : auto;
	margin-bottom : auto;
	margin-left: 30px;
	margin-right: 30px;
	padding : 10px;
	border: thin solid Gray;
}

/* For the text that is shown as code */
code { 
	font-family: Courier, Courier New, Lucida Sans, fixed-width, monospace; 
	font-size: 12px; 
	color: green; 
	font-weight: bold;
}



/* ********************* */
/* For centering tables */
/* ********************* */
div.tablecenter {
	text-align:center;
}
div.tablecenter table {
	margin-left:auto;
	margin-right:auto;
	text-align:left;
}
div.tablecenter th {
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}



/* ***************************************** */
/* For the table of internal links at the top */
/* ***************************************** */
table.links {
	text-align:center;
	background-color:#eeeeee;
	border-collapse: collapse;
}

table.links td {
	border: thin white solid;
	border-right: thin silver solid;
	padding:5px;
}

table.links td:hover {
	background-color: silver;
}

table.links td:hover a {
	color: #f80000;
}

/* ******************************** */
/* For the table of code examples */
/* ******************************** */
table.examples {
	width: 90%;
	padding: 10px;
	border : thin solid;
}

tables.examples td {
	border: thin solid Black;
	border-width: 1px;
}

tables.examples tr {
	border: 1px solid Black;
}

th {
	vertical-align: baseline;
	font-size: 18px;
	font-weight: bold;
}

td {
	vertical-align: top;
	}
	

p,dl,ul { 
	font-family: verdana, geneva, arial, helvetica, sans-serif; 
	font-size: 12px; 
	color: #000000; 
}
dt { 
	font-family: verdana, geneva, arial, helvetica, sans-serif; 
	font-size: 14px; 
	color: #000000;
	margin-bottom: 12px;
}
dd { 
	font-family: verdana, geneva, arial, helvetica, sans-serif; 
	font-size: 12px; 
	color: #000000;
	margin-left: 12px;
}


li { 
	font-family: verdana, geneva, arial, helvetica, sans-serif; 
	font-size: 12px; 
	color: #000000;
}
a { 
	font-family: verdana, geneva, arial, helvetica, sans-serif; 
	font-size: 12px; 
	color: #00008B; 
	font-weight: bold; 
	text-decoration: underline;
}
a:active { 
	color: #f80000;
}
a:visited { 
	color: #00008B; 
	text-decoration: underline; 
}
a:hover { 
	color: #f80000; 
	text-decoration: none; 
}
a.announce { 
	font-size: 26px; 
	color: #af0e0f; 
	font-style: italic; 
}
