/* 
 * HTML5 ✰ Boilerplate
 *
 * What follows is the result of much research on cross-browser styling. 
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 * 
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

footer, header, nav, section { display: block; }
canvas { display: inline-block; *display: inline; *zoom: 1; }
[hidden] { display: none; }

/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 16px; line-height: 24px; }

body, button, input, select, textarea {
  font-family: ff-tisa-web-pro-1, ff-tisa-web-pro-2, Palatino Linotype, Book Antiqua, Palatino, Cambria, serif;
  color: #000;
}

h1, h2, h3 {
  font-family: ff-masala-web-pro-1, ff-masala-web-pro-2, Calibri, Helvetica Neue, Tahoma, Helvetica, sans-serif;
}

/* 
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 */

::-moz-selection { background: #0069d2; color: #fff; text-shadow: none; }
::selection { background: #0069d2; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e 
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9 
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

button, input { line-height: normal; *overflow: visible; }

/*
 * Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7
 */

table button, table input { *overflow: auto; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/* 
 * Remove inner padding and border in FF3/4: h5bp.com/l 
 */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* 
 * 1. Remove default vertical scrollbar in IE6/7/8/9 
 * 2. Allow only vertical resizing
 */
textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== primary styles =====================================================
   Author: Craig Patik
   ========================================================================== */

/* Map color: rgba(153, 179, 204, 1), #99b3cc */

/* Buttons */
/* http://www.red-team-design.com/just-another-awesome-css3-buttons */
.button {
  display: inline-block;
  white-space: nowrap;
  background-color: #ccc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
  background-image: -webkit-linear-gradient(top, #eee, #ccc);
  background-image:    -moz-linear-gradient(top, #eee, #ccc);
  background-image:     -ms-linear-gradient(top, #eee, #ccc);
  background-image:      -o-linear-gradient(top, #eee, #ccc);
  background-image:         linear-gradient(top, #eee, #ccc);
  border: 1px solid #777;
  padding: 0 1.5em;
  margin: 0.5em;
  font: bold 16px/24px Arial, Helvetica;
  cursor: pointer;
  text-decoration: none;
  color: #333;
  text-shadow: 0 1px 0 rgba(255,255,255,0.8);
  -webkit-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
     -moz-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
          box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
  -webkit-border-radius: .2em;
     -moz-border-radius: .2em;
          border-radius: .2em;
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}
button.button, input.button {
  cursor: pointer;
  overflow: visible;
}
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input::-moz-focus-inner {
  padding: 0.4em;
}

.button[disabled], .button[disabled]:hover, .button.disabled, .button.disabled:hover {
  background: #eee;
  color: #aaa;
  border-color: #aaa;
  cursor: default;
  text-shadow: none;
  position: static;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.button:hover {
  color: #444;
  background-color: #ddd;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#ddd));
  background-image: -webkit-linear-gradient(top, #fafafa, #ddd);
  background-image:    -moz-linear-gradient(top, #fafafa, #ddd);
  background-image:     -ms-linear-gradient(top, #fafafa, #ddd);
  background-image:      -o-linear-gradient(top, #fafafa, #ddd);
  background-image:         linear-gradient(top, #fafafa, #ddd);
}

.button:active {
  position: relative;
  top: 1px;
  -webkit-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
     -moz-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
          box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
}

.button:focus {
  outline: 0;
  background: #fafafa;
}    

.button:before {
  background: #ccc;
  background: rgba(0,0,0,.1);
  float: left;
  width: 1em;
  text-align: center;
  font-size: 1.5em;
  margin: 0 1em 0 -1em;
  padding: 0 0.2em;
  -webkit-box-shadow: 1px 0 0 rgba(0,0,0,0.5), 2px 0 0 rgba(255,255,255,0.5);
     -moz-box-shadow: 1px 0 0 rgba(0,0,0,0.5), 2px 0 0 rgba(255,255,255,0.5);
          box-shadow: 1px 0 0 rgba(0,0,0,0.5), 2px 0 0 rgba(255,255,255,0.5);
  -webkit-border-radius: .15em 0 0 .15em;
     -moz-border-radius: .15em 0 0 .15em;
	        border-radius: .15em 0 0 .15em;
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.button.add:before { content: "\271A"; }
.del:before { content: "\2718"; }
.next:before { content: "\279C"; }

/* Hexadecimal entities for the icons 
.edit:before { content: "\270E"; }
.save:before { content: "\2714"; }
.email:before { content: "\2709"; }
.like:before { content: "\2764"; }
.star:before { content: "\2605"; }
.spark:before { content: "\2737"; }
.play:before { content: "\25B6"; } */


header {
  margin: auto 16px;
  overflow: hidden;
}

.ie9 header {
  overflow: visible;
}

header h1, header h2 {
  margin: 0 0 8px 0;
}

header h1 {
  font-size: 24px;
}

header h2 {
  font-size: 18px;
}

div#main {
  margin: auto 16px;
}

/* Form */

#form-container h3 {
  margin-top: 8px;
}

form input {
  color: #aaa;
  padding: 2px 4px;
  font-size: 16px;
  height: 18px;
  line-height: 18px;
  background-color: transparent;
  border: 1px solid #99b3cc;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  -webkit-transition: all 0.1s ease;
     -moz-transition: all 0.1s ease;
       -o-transition: all 0.1s ease;
          transition: all 0.1s ease;
}

form input:focus {
  color: #000;
  background-color: rgba(153, 179, 204, 0.1);
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.15), inset 0 0 4px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.15), inset 0 0 4px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.15), inset 0 0 4px rgba(0, 0, 0, 0.1);
}

form .add {
  float: right;
  margin-top: 0;
}

.upload-instructions {
  clear: both;
  float: none;
  margin: 4px 0;
}

/* People list */

#people {
  position: relative;
  margin: 8px 0 46px 0;
}

#people h3 {
  float: left;
}

#people > div {
  position: absolute;
  bottom: -40px;
  right: 0;
}

#people-list {
  clear: both;
  margin: 0 -16px;
  padding: 0;
  list-style: none outside none;
  overflow: hidden;
}

#people-list li {
  position: relative;
  float: none;
  overflow: hidden;
  padding: 4px 4px 4px 52px;
  border-top: 1px solid #aaa;
}

#people-list li:last-child {
  border-bottom: 1px solid #aaa;
}


#people-list li,
#people-list div {
  -webkit-transition: all 0.1s ease;
     -moz-transition: all 0.1s ease;
       -o-transition: all 0.1s ease;
          transition: all 0.1s ease;
}
  
#people-list .avatar {
  display: block;
  border-radius: 8px;
  position: absolute;
  top: 2px;
  left: 2px;
}

#people-list .name {
  display: inline-block;
  float: left;
  font-size: 18px;
  font-weight: bold;
}

#people-list .loc {
  clear: left;
}

#people-list li .del {
  float: right;
}

/* Canvas */

#map-container .small-screen {
  display: block;
}

#worldmap,
.canvas #worldmap {
  display: none;
}

#map-container svg {
	display: none;
}


/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



/* ==|== media queries ======================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 767px) {
  
  form label,
  form div {
    display: block;
    float: none;
    clear: both;
  }
  
  form label {
    margin-top: 4px;
  }
  
  form input {
    font-size: 16px;
    height: 24px;
  }
  
  #add-first-name, #add-last-name {
    width: 45%;
    float: left;
    margin-right: 4px;
  }
  
  .add-distance-container {
    float: none;
    clear: both;
  }

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */
	
  body {
    font-size: 16px; line-height: 24px;
  }
  
  body, input, button {
    color: #444;
  }
  
  
  .button.small {
    font: bold 12px/20px Arial, Helvetica;
    padding: 0 1em;
  }
  
  .button.small:before {
    font-size: 1em;
    margin: 0 0.5em 0 -1em;
  }
	
	
  #container {
    margin: 16px auto;
    max-width: 1008px;
  }
  
  
  /* Canvas */
  
  #map-container {
    clear: both;
    width: 744px;
    height: 420px;
    margin: 0 auto;
    position: relative;
  }
  
  #map-container .small-screen {
    display: none;
  }
  
  #worldmap {
    display: none;
  }
  
  .canvas #worldmap {
    position: absolute;
    display: block;
    z-index: 1;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
    -webkit-background-clip: padding-box;
       -moz-background-clip: padding;
            background-clip: padding-box;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4) inset, 0 0 14px rgba(0, 0, 0, 0.2) inset, 0 0 4px rgba(0, 0, 0, 0.5);
       -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4) inset, 0 0 14px rgba(0, 0, 0, 0.2) inset, 0 0 4px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.4) inset, 0 0 14px rgba(0, 0, 0, 0.2) inset, 0 0 4px rgba(0, 0, 0, 0.5);
  }
  
  #map-container svg {
    display: block;
    position: absolute;
    z-index: 2;
  }
  
  canvas img {
    width: 100%;
    height: 100%;
  }
  
  /* Form */
  
  #form-container {
    margin-top: 16px;
    max-width: 700px;
  }
  
  #form-container h3 {
    float: left;
    margin: 0 32px 8px 0;
  }
  
  #form-container .dnd-instructions {
    float: left;
    margin: 0 0 8px 0;
  }
  
  form {
    clear: both;
  }
  
  form ul {
    list-style: none outside none;
    margin: 0;
    overflow: hidden;
    padding: 0;
  }
  
  form input {
    color: #aaa;
    padding: 2px 4px;
    height: 28px;
    line-height: 24px;
    vertical-align: middle;
  }
  
  form input:focus {
    color: #444;
  }
  
  form div {
    height: 2.5em;
    float: none;
    clear: both;
  }
  
  .add-location-container {
    float: left;
    clear: none;
    display: inline-block;
    margin-right: 20px;
  }
  
  .add-distance-container {
    float: left;
    clear: none;
  }
  
  form .add {
    margin-left: 60px;
  }
  
  /* People list */
  
  #people > div {
    position: static;
  }
  
  section:nth-child(2) h3 {
    float: left;
    margin: 0;
  }
  
  section:nth-child(2) > div {
    float: right;
  }
  
  #people-list {
    margin: 0;
  }
  
  #people-list li {
    float: left;
    width: 260px;
    min-height: 48px;
    background-color: rgba(153, 179, 204, 0.1);
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
    margin: 8px 8px 8px 0;
    border-top: none;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
  }
  
  #people-list li:last-child {
    border-bottom: none;
  }
  
  #people-list li .del {
    visibility: hidden;
  }
  
  #people-list li:hover {
    background-color: rgba(153, 179, 204, 0.2);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
       -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  }
  
  #people-list li:hover div {
    color: black;
  }
  
  #people-list li:hover .del,
  #people-list .del:focus {
    visibility: visible;
  }
  
  #people-list .name {
	  display: block;
    float: left;
  }
  
  #people-list .button {
    float: right;
    margin: 0;
  }
  
  #people-list .loc {
    float: none;
    clear: both;
  }



}



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
