/* Hide banner ads */
[src*=".adtech.de"],
[src*="ads.osdn.com"],
[src*="services.springstreetnetworks.com/Services/Pod/Images/"],
[src*="/ad."],
[src*="image.weather.com/creatives/"],
[src*="/ad/"],
[src*="/ads."],
/* Fark.com */
[src*="personals.fark.com"],
[src*="/2004/ads/"],
[src*="/2003/ads/"],
[src*="/2002/ads/"],
[src*="http://admin.digitalacre.com/images/get-farked.gif"],
[src*="http://image.weather.com/RealMedia/ads/"],
[src*="/adv/"],
[src*="/adx/"],
[src*="atdmt"],
[src*="advert"],
[src*="advertiser"],
[src*="bluestreak"],
[src*="doubleclick"],
[src*="/fh_ads/"],
[src*="pointroll"],
[src*="salon.com/Creatives/"],
[src*="sponsors"],
[src*="us.a1.yimg.com"],
[src*="http://sportsbybrooks.com/farkbutton.gif"],
[src*="http://www.bigcitytools.com/images/"],
A:link[HREF*="ar.atwola.com"] IMG
{
    display: none !important;
} 


/* 
 * hides many ads by preventing display of images that are inside
 * links when the link HREF contans certain substrings.  You may find
 * the current version of this file at: http://www.floppymoose.com
 */


A:link[HREF*="ads."]  IMG, 
A:link[HREF*="/ad"]  IMG, 
A:link[HREF*="/A="]  IMG, 
A:link[HREF*="/click"]  IMG, 
A:link[HREF*="?click"]  IMG, 
A:link[HREF*="?banner"]  IMG, 
A:link[HREF*="=click"]  IMG, 
A:link[HREF*="clickurl="]  IMG, 
A:link[HREF*=".atwola."]  IMG, 
A:link[HREF*="spinbox."]  IMG, 
A:link[HREF*="transfer.go"]  IMG, 
A:link[HREF*="adfarm"]  IMG, 
A:link[HREF*="bluestreak"]  IMG, 
A:link[HREF*="doubleclick"]  IMG, 
A:link[HREF*="/rd."]  IMG, 
/*A:link[HREF*="/0AD"]  IMG, */
A:link[HREF*="trackoffer."]  IMG, 
A:link[HREF*="tracksponsor."]  IMG { display: none ! important } 

/* disable ad iframes */
IFRAME[SRC*="ad."],
IFRAME[SRC*="ads."],
IFRAME[SRC*="/ad"],
IFRAME[SRC*="/A="],
IFRAME[SRC*="/click"],
IFRAME[SRC*="?click"],
IFRAME[SRC*="?banner"],
IFRAME[SRC*="=click"],
IFRAME[SRC*="clickurl="],
IFRAME[SRC*=".atwola."],
IFRAME[SRC*="spinbox."],
IFRAME[SRC*="transfer.go"],
IFRAME[SRC*="adfarm"],
IFRAME[SRC*="bluestreak"],
IFRAME[SRC*="doubleclick"],
IFRAME[SRC*="/rd."],
IFRAME[SRC*="/0AD"], 
IFRAME[SRC*="trackoffer."],
IFRAME[SRC*="tracksponsor."]  { display: none ! important } 

/* turning some false positives back off */

A:link[HREF*="download."] IMG,
A:link[HREF*="netflix.com/AddToQueue"] IMG,
A:link[HREF*="click.mp3"] IMG { display: inline ! important }

.readerImage {
    display: inline !important;
}

/* Ignore effect of blink and marquee tags, but don't hide their contents */

blink { text-decoration: none ! important }
marquee { -moz-binding: none ! important }


/*
[src*="?"][width="0"][height="0"]
[src*="?"][width="1"][height="1"]
[width="0"][height="0"],
[width="1"][height="1"],
[width="120"][height="60"],
[width="120"][height="600"],
[width="120"][height="800"],
[width="140"][height="800"],
[width="150"][height="70"],
[width="160"][height="60"],
[width="160"][height="600"],
[width="184"][height="90"],
[width="200"][height="23"],
[width="234"][height="60"],
[width="237"][height="90"],
[width="300"][height="250"],
[width="336"][height="280"],
[width="338"][height="282"],
[width="342"][height="286"],
[width="400"][height="100"],
[width="425"][height="600"],
[width="468"][height="60"],
[width="500"][height="62"],
[width="600"][height="30"],
[width="728"][height="90"],
[width="728"][height="105"],
a:link[href*="/ads"] img,
A:link[HREF*="ad."] IMG,
A:link[HREF*="ads."] IMG,
A:link[HREF*="/ad"] IMG,
A:link[HREF*="/A="] IMG,
A:link[HREF*="/click"] IMG,
A:link[HREF*="?click"] IMG,
A:link[HREF*="?banner"] IMG,
A:link[HREF*="=click"] IMG,
A:link[HREF*="/ar.atwo"] IMG,
A:link[HREF*="spinbox."] IMG,
A:link[HREF*="transfer.go"] IMG,
A:link[HREF*="adfarm"] IMG,
A:link[HREF*="bluestreak"] IMG,
A:link[HREF*="doubleclick"] IMG,
table[width="728"]

*/