.container {
    max-width: 960px;
    margin: 0;
}

.coverImage {
    width: 100%;
    box-shadow: 0 5px 10px rgb(0 0 0 / 12%);
}

.coverImageInteractive {
    transition: box-shadow 200ms ease;

    &:hover {
        box-shadow:
            0 10px 15px -3px rgb(0 0 0 / 10%),
            0 4px 6px -4px rgb(0 0 0 / 10%);
    }
}

.heroGrid {
    margin-bottom: 4rem;

    @media (min-width: 768px) {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        column-gap: 4rem;
    }

    @media (min-width: 1024px) {
        column-gap: 2rem;
    }
}

.heroTitle {
    margin: 0 0 0.4rem;
    font-size: var(--step-4);
}

.heroExcerpt {
    font-size: var(--step-0);
    line-height: var(--leading-prose);
    max-width: var(--measure);
}

.heroDate {
    composes: meta from '../../styles/type.module.css';

    margin-bottom: 1rem;

    @media (min-width: 768px) {
        margin-bottom: 0;
    }
}

.link:hover {
    text-decoration: underline;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 3rem;

    @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
    }
}

.introTitle,
.moreTitle {
    font-size: var(--step-5);
}

.introTitle {
    font-size: var(--step-6);

    @media (min-width: 768px) {
        padding-right: 2rem;
    }
}

.moreTitle {
    margin-bottom: 2rem;
}

.storiesGrid {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    row-gap: 5rem;
    margin-bottom: 0;

    @media (min-width: 768px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        column-gap: 4rem;
        row-gap: 8rem;
    }

    @media (min-width: 1024px) {
        column-gap: 8rem;
    }
}

.postTitle {
    margin-bottom: 0.4rem;
    font-size: var(--step-3);
}

.postDate {
    composes: meta from '../../styles/type.module.css';

    margin-bottom: 0.6rem;
}

.postExcerpt {
    margin-bottom: 0;
    font-size: var(--step-0);
    line-height: var(--leading-prose);
    max-width: var(--measure);
}

.unpublished {
    border-bottom: 1px solid #262626;
    background: #262626;
    color: white;
}

.unpublishedContent {
    padding-block: 0.5rem;
    text-align: center;
    font-family: var(--font-fixed);
    font-size: var(--step--2);
}
