.main-nav {
    --main-nav-background-color: #e6e6e6;
    --main-nav-text-color: var(--dark-charcoal);
    --main-nav-active-color: #8a5700;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--main-nav-background-color);
    padding-block: 0.5rem;
    padding-inline: var(--main-inline-padding);
    -webkit-font-smoothing: antialiased;

    @media (prefers-color-scheme: dark) {
        --main-nav-background-color: #333;
        --main-nav-text-color: #fff;
        --main-nav-active-color: #f2b84b;
    }

    @media (min-width: 400px) {
        flex-direction: row;
    }

    @media (min-width: 980px) {
        gap: 1rem;
    }

    h1 {
        flex-grow: 1;
        font-size: 1.25rem;

        @media (min-width: 980px) {
            font-size: var(--h1-font-size);
        }

        a {
            color: var(--main-nav-text-color);
            font-size: 1em;
        }
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        flex-shrink: 1;
        margin-bottom: 0;
        gap: 0.5rem;

        @media (min-width: 400px) {
            justify-content: flex-end;
        }

        @media (min-width: 980px) {
            gap: 1rem;
        }

        li {
            display: flex;
            flex-direction: column;
            justify-content: center;
            list-style: none;
            margin-bottom: 0;
            font-size: 1.25rem;

            a {
                color: var(--main-nav-text-color);

                &.active {
                    color: var(--main-nav-active-color);
                }
            }
        }
    }
}
