@charset "UTF-8";
@import 'foundation.css';
@import '_foundation-overrides.css';
@import '_variables.css';
@import '_travel.css';
@import '_main-nav.css';
@import '_dark-mode.css';

/*
/* =============================================================================
 * Basic styles
 * ============================================================================= */

body {
    text-rendering: optimizelegibility;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
select,
textarea {
    font-family: var(--font-serif); /* Includes Typekit but falls back to Helvetica, etc */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal !important;
    color: var(--dark-charcoal); /* #3A87AD; */

    @media (prefers-color-scheme: dark) {
        color: white;
    }
}

pre,
code,
kbd,
samp {
    font-family: var(--font-fixed);
}

code {
    font-size: 90%;
}

main,
[role='main'] {
    padding: 0 1rem;
}

[role='main'] {
    padding-inline: 0.5rem;
}

@media (min-width: 980px) {
    [role='main'] {
        padding-inline: 1rem;
    }
}

p,
li {
    font-family: var(--font-serif);
    font-size: 18px;
    line-height: 22px;
}

section {
    h2 {
        margin: 0 0 0.5rem 0;
    }
}

figure {
    margin-bottom: 1rem;

    img {
        box-shadow: 0 0 2px black;
    }
}

/* TODO: Make Foundation generate these button styles */
.button {
    font-family: var(--font-sans);
    color: #ffffff;
    background-color: #428bca;
    border-color: #357ebd;
    border-radius: 4px;

    /* https://getbootstrap.com/css/#buttons */
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    box-shadow: none;

    &:hover {
        color: #ffffff;
        background-color: #3276b1;
        border-color: #285e8e;
    }
}

.button-link-list {
    & > a {
        display: flex;
        align-items: center;
        padding: 0.5rem 0.25rem;
        text-align: left;
        text-decoration: none;

        &:active,
        &:hover,
        &:focus {
            text-decoration: underline;
        }

        img {
            border-radius: 3px;
            height: calc(var(--buttonLinkImageWidth) / 2);
            width: calc(var(--buttonLinkImageWidth) / 2);
        }

        span {
            display: block;
            flex-grow: 1;
            margin-left: 1rem;
            font-size: 1.75rem;
            line-height: normal;
        }
    }
}

/* Bigger than phone
 --------------------- */
@media (min-width: 480px) {
    /*  480px and up */
    body,
    button,
    input,
    select,
    textarea {
        color: var(--charcoal);

        @media (prefers-color-scheme: dark) {
            color: white;
        }
    }

    p,
    li {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }

    li {
        margin-bottom: 0.5rem;
    }
}

/* // PORTRAIT TABLET AND UP */
/* // ---------------------------------- */

@media (min-width: 600px) {
    /* 600px and up */
}

/* // DEFAULT DESKTOP */
/* // --------------- */
@media (min-width: 980px) {
    /* 980px and up */
    .row {
        margin-left: 0;
    }
}
