//
// Foundation Variables
//

// Various global styles

$default-float: left;

// $body-bg: #fff;
// $body-font-color: #222;
$body-font-family: -apple-system, BlinkMacSystemFont, system-ui, 'Segoe UI', 'Helvetica Neue', 'Helvetica', Helvetica,
    Arial, Calibri, 'Myriad Pro', Tahoma, sans-serif;

// $body-font-weight: normal;
// $body-font-style: normal;

// Font-smoothing

$font-smoothing: subpixel-antialiased;

// Text direction settings

// $text-direction: ltr;

// Colors

$primary-color: #3a87ad; // #e9e9e9;
$secondary-color: #e9e9e9; // #2ba6cb;
$alert-color: #c60f13;
$success-color: #5da423;

// Make sure border radius matches unless we want it different.

$global-radius: 3px;
$global-rounded: 1000px;

// Inset shadow shiny edges and depressions.

// $shiny-edge-size: 0 1px 0;
// $shiny-edge-color: rgba(#fff, .5);
// $shiny-edge-active-color: rgba(#000, .2);

// Control whether or not CSS classes come through in the CSS files.

// $include-html-classes: true;
// $include-print-styles: true;
// $include-html-global-classes: $include-html-classes;
// $include-html-inline-list-classes: $include-html-classes;
// $include-html-type-classes: $include-html-classes;
// $include-html-grid-classes: $include-html-classes;
// $include-html-visibility-classes: $include-html-classes;
// $include-html-button-classes: $include-html-classes;
// $include-html-form-classes: $include-html-classes;
// $include-html-custom-form-classes: $include-html-classes;
// $include-html-media-classes: $include-html-classes;
// $include-html-section-classes: $include-html-classes;
// $include-html-orbit-classes: $include-html-classes;
// $include-html-reveal-classes: $include-html-classes;
// $include-html-joyride-classes: $include-html-classes;
// $include-html-clearing-classes: $include-html-classes;
// $include-html-alert-classes: $include-html-classes;
// $include-html-nav-classes: $include-html-classes;
// $include-html-label-classes: $include-html-classes;
// $include-html-panel-classes: $include-html-classes;
// $include-html-pricing-classes: $include-html-classes;
// $include-html-progress-classes: $include-html-classes;
// $include-html-magellan-classes: $include-html-classes;
// $include-html-tooltip-classes: $include-html-classes;

// Media Queries

$tiny-screen: 480px;
$small-screen: 600px;
$medium-screen: 980px;
// $medium-screen-less: $medium-screen - 1;
$large-screen: 1280px;

$screen: 'only screen';
$tiny: 'only screen and (min-width: #{$tiny-screen})';
$small: 'only screen and (min-width: #{$small-screen})';
$medium: 'only screen and (min-width: #{$medium-screen})';
$large: 'only screen and (min-width: #{$large-screen})';
$landscape: 'only screen and (orientation: landscape)';
$portrait: 'only screen and (orientation: portrait)';

//
// Grid Variables
//

// $row-width: em-calc(1000);
// $column-gutter: em-calc(30);
// $total-columns: 12;

//
// Typography Variables
//

// Control header font styles

// $header-font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
// $header-font-weight: bold;
// $header-font-style: normal;
// $header-font-color: #222;
// $header-line-height: 1.4;
// $header-top-margin: .2em;
// $header-bottom-margin: .5em;
// $header-text-rendering: optimizeLegibility;

// Control header font sizes

$h1-font-size: em-calc(32);
$h2-font-size: em-calc(28);
$h3-font-size: em-calc(24);
// $h4-font-size: em-calc(23);
// $h5-font-size: em-calc(18);
// $h6-font-size: 1em;

// Control how subheaders are styled.

// $subheader-line-height: 1.4;
// $subheader-font-color: lighten($header-font-color, 30%);
// $subheader-font-weight: 300;
// $subheader-top-margin: .2em;
// $subheader-bottom-margin: .5em;

// A general <small> styling

// $small-font-size: 60%;
// $small-font-color: lighten($header-font-color, 30%);

// Style paragraphs

// $paragraph-font-family: inherit;
// $paragraph-font-weight: normal;
// $paragraph-font-size: 1em;
// $paragraph-line-height: 1.6;
// $paragraph-margin-bottom: em-calc(20);
// $paragraph-aside-font-size: em-calc(14);
// $paragraph-aside-line-height: 1.35;
// $paragraph-aside-font-style: italic;
// $paragraph-text-rendering: optimizeLegibility;

// Style <code> tags

$code-color: darken($alert-color, 25%);
// $code-font-family: Consolas, 'Liberation Mono', Courier, monospace;
$code-font-weight: normal;

// Style anchors

$anchor-text-decoration: none;
$anchor-font-color: $primary-color;
$anchor-font-color-hover: darken($anchor-font-color, 5%);

// Style the <hr> element

// $hr-border-width: 1px;
// $hr-border-style: solid;
// $hr-border-color: #ddd;
// $hr-margin: em-calc(20);

// Style lists

// $list-style-position: outside;
// $list-side-margin: 0;
// $list-nested-margin: em-calc(20);
// $definition-list-header-weight: bold;
// $definition-list-header-margin-bottom: .3em;
// $definition-list-margin-bottom: em-calc(12);

// Style blockquotes

// $blockquote-font-color: lighten($header-font-color, 30%);
// $blockquote-padding: em-calc(9, 20, 0, 19);
// $blockquote-border: 1px solid #ddd;
// $blockquote-cite-font-size: em-calc(13);
// $blockquote-cite-font-color: lighten($header-font-color, 20%);
// $blockquote-cite-link-color: $blockquote-cite-font-color;

// Acronym styles

// $acronym-underline: 1px dotted #ddd;

// Control padding and margin

// $microformat-padding: em-calc(10 12);
// $microformat-margin: em-calc(0 0 20 0);

// Control the border styles

// $microformat-border-width: 1px;
// $microformat-border-style: solid;
// $microformat-border-color: #ddd;

// Control full name font styles

// $microformat-fullname-font-weight: bold;
// $microformat-fullname-font-size: em-calc(15);

// Control the summary font styles

// $microformat-summary-font-weight: bold;

// Control abbr padding
// $microformat-abbr-padding: em-calc(0 1);

// Control abbr font styles

// $microformat-abbr-font-weight: bold;
// $microformat-abbr-font-decoration: none;

//
// Button Variables
//

// We use these to build padding for buttons.

// $button-med: em-calc(12);
// $button-tny: em-calc(7);
// $button-sml: em-calc(9);
// $button-lrg: em-calc(16);

// We use this to control the display property.

// $button-display: inline-block;
// $button-margin-bottom: em-calc(20);

// We use these to control button text styles.

// $button-font-family: inherit;
// $button-font-color: #fff;
// $button-font-color-alt: #333;
// $button-font-med: em-calc(16);
// $button-font-tny: em-calc(11);
// $button-font-sml: em-calc(13);
// $button-font-lrg: em-calc(20);
$button-font-weight: normal;
// $button-font-align: center;

// We use these to control various hover effects.

// $button-function-factor: 10%;

// We use these to control button border styles.

// $button-border-width: 1px;
// $button-border-style: solid;

// We use this to set the default radius used throughout the core.

$button-radius: $global-radius;
// $button-round: $global-rounded;

// We use this to set default opacity for disabled buttons.

// $button-disabled-opacity: 0.6;

//
// Button Groups
//

// Sets the margin for the right side by default, and the left margin if right-to-left direction is used

// $button-bar-margin-opposite: em-calc(10);

//
// Dropdown Button Variables
//

// We use these to set the color of the pip in dropdown buttons

// $dropdown-button-pip-color: #fff;
// $dropdown-button-pip-color-alt: #333;

// We use these to style tiny dropdown buttons

// $dropdown-button-padding-tny: $button-tny * 5;
// $dropdown-button-pip-size-tny: $button-tny;
// $dropdown-button-pip-opposite-tny: $button-tny * 2;
// $dropdown-button-pip-top-tny: -$button-tny / 2 + em-calc(1);

// We use these to style small dropdown buttons

// $dropdown-button-padding-sml: $button-sml * 5;
// $dropdown-button-pip-size-sml: $button-sml;
// $dropdown-button-pip-opposite-sml: $button-sml * 2;
// $dropdown-button-pip-top-sml: -$button-sml / 2 + em-calc(1);

// We use these to style medium dropdown buttons

// $dropdown-button-padding-med: $button-med * 4 + em-calc(3);
// $dropdown-button-pip-size-med: $button-med - em-calc(3);
// $dropdown-button-pip-opposite-med: $button-med * 2;
// $dropdown-button-pip-top-med: -$button-med / 2 + em-calc(2);

// We use these to style large dropdown buttons

// $dropdown-button-padding-lrg: $button-lrg * 4;
// $dropdown-button-pip-size-lrg: $button-lrg - em-calc(6);
// $dropdown-button-pip-opposite-lrg: $button-lrg + em-calc(12);
// $dropdown-button-pip-top-lrg: -$button-lrg / 2 + em-calc(3);

//
// Inline List Variables
//

// We use this to control the margins and padding of the inline list.

// $inline-list-top-margin: 0;
// $inline-list-opposite-margin: 0;
// $inline-list-bottom-margin: em-calc(17);
// $inline-list-default-float-margin: em-calc(-22);

// $inline-list-padding: 0;

// We use this to control the overflow of the inline list.

// $inline-list-overflow: hidden;

// We use this to control the list items

// $inline-list-display: block;

// We use this to control any elments within list items

// $inline-list-children-display: block;

//
// Sub Nav Variables
//

// We use these to control margin and padding

// $sub-nav-list-margin: em-calc(-4 0 18);
// $sub-nav-list-padding-top: em-calc(4);

// We use this to control the definition

// $sub-nav-font-size: em-calc(14);
// $sub-nav-font-color: #999;
// $sub-nav-font-weight: normal;
// $sub-nav-text-decoration: none;
// $sub-nav-border-radius: 1000px;

// We use these to control the active item styles

// $sub-nav-active-font-weight: bold;
// $sub-nav-active-bg: $primary-color;
// $sub-nav-active-color: #fff;
// $sub-nav-active-padding: em-calc(3 9);
// $sub-nav-active-cursor: default;

// $sub-nav-item-divider: "" !default;
// $sub-nav-item-divider-margin: emCalc(12) !default;

//
// Top Bar Variables
//

// Background color for the top bar

$topbar-bg-color: #333;
// $topbar-bg: $topbar-bg-color;

// Height and margin

// $topbar-height: 45px;
// $topbar-margin-bottom: 0;

// Control Input height for top bar

// $topbar-input-height: 2.45em;

// Controlling the styles for the title in the top bar

// $topbar-title-weight: bold;
// $topbar-title-font-size: em-calc(17);

// Style the top bar dropdown elements

// $topbar-dropdown-bg: #222;
// $topbar-dropdown-link-color: #fff;
// // $topbar-dropdown-link-bg: lighten($topbar-bg-color, 5%);
// $topbar-dropdown-toggle-size: 5px;
// $topbar-dropdown-toggle-color: #fff;
// $topbar-dropdown-toggle-alpha: 0.5;

// Set the link colors and styles for top-level nav

// $topbar-link-color: #fff;
// $topbar-link-color-hover: #fff;
// $topbar-link-color-active: #fff;
$topbar-link-weight: normal;
// $topbar-link-font-size: em-calc(13);
// $topbar-link-hover-lightness: -30%; // Darken by 30%
// $topbar-link-bg-hover: darken($topbar-bg-color, 3%);
// $topbar-link-bg-active: darken($topbar-bg-color, 3%);

// $topbar-dropdown-label-color: #555;
// $topbar-dropdown-label-text-transform: uppercase;
// $topbar-dropdown-label-font-weight: bold;
// $topbar-dropdown-label-font-size: em-calc(10);
// $topbar-dropdown-label-bg: lighten($topbar-bg-color, 5%);

// Top menu icon styles

// $topbar-menu-link-transform: uppercase;
// $topbar-menu-link-font-size: em-calc(13);
// $topbar-menu-link-weight: bold;
// $topbar-menu-link-color: #fff;
// $topbar-menu-icon-color: #fff;
// $topbar-menu-link-color-toggled: #888;
// $topbar-menu-icon-color-toggled: #888;

// Transitions and breakpoint styles

// $topbar-transition-speed: 300ms;
$topbar-breakpoint: 480px !default; // Change to 9999px for always mobile layout
// $topbar-media-query: "only screen and (min-width: #{$topbar-breakpoint})";

// Divider Styles

// $topbar-divider-border-bottom: solid 1px lighten($topbar-bg-color, 10%);
// $topbar-divider-border-top: solid 1px darken($topbar-bg-color, 10%);

// Sticky Class

// $topbar-sticky-class: ".sticky";
// $topbar-arrows: true; //Set false to remove the triangle icon from the menu item
