// Make sure the charset is set appropriately @charset"UTF-8";
@import '_normalize';
@import '_foundation-overrides';
@import 'foundation';
@import '_mixins';
@import '_variables';
@import '_dark-mode';

//=============================================================================
// Basic styles
//=============================================================================

body {
    text-rendering: optimizelegibility;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
select,
textarea {
    font-family: $font-serif; // Includes Typekit but falls back to Helvetica, etc
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal !important;
    color: $dark-charcoal; // #3A87AD;

    @media (prefers-color-scheme: dark) {
        color: white;
    }
}

pre,
code,
kbd,
samp {
    font-family: $font-fixed;
}

code {
    font-size: 90%;
}

.clearfix {
    @include clearfix;
}

[role='main'] {
    margin: 1em auto;
    max-width: 980px;

    & > section {
        h2 {
            margin-left: 0.6em;
        }

        &:nth-child-of-type(1) {
            margin-top: 1em;

            p {
                margin-left: 1em;
            }
        }

        &:last-child {
            margin-bottom: 1em;
        }

        & > ul {
            margin-left: 2em;
        }
    }
}

@media (max-width: #{$medium-screen}) {
    [role='main'] {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
}

.top-bar {
    margin: 0 auto;
    max-width: 980px;
    -webkit-font-smoothing: antialiased;

    &,
    & h1,
    & li {
        font-family: $font-sans;
    }
}

p,
li {
    font-family: $font-serif;
    font-size: 18px;
    line-height: 22px;
}

section {
    h2 {
        margin: 1em 0 0.5em 0;
    }
}

figure {
    margin-bottom: 1em;

    img {
        box-shadow: 0 0 2px black;
    }
}

//TODO: Make Foundation generate these button styles
.button {
    font-family: $font-sans;
    color: #ffffff;
    background-color: #428bca;
    border-color: #357ebd;
    border-radius: 4px;

    // http://getbootstrap.com/css/#buttons
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    box-shadow: none;

    &:hover {
        color: #ffffff;
        background-color: #3276b1;
        border-color: #285e8e;
    }
}

.button-link-list {
    a {
        display: block;
        padding: 0.5em 0.25em;
        text-align: left;
        text-decoration: none;

        &:active,
        &:hover,
        &:focus {
            text-decoration: underline;
        }

        img {
            float: left;
            height: $buttonLinkImageWidth / 2;
            width: $buttonLinkImageWidth / 2;
        }

        span {
            display: block;
            margin-left: ($buttonLinkImageWidth / 2) + 4;
            font-size: 1.75em;
            line-height: 1.1em;
        }
    }
}

.travel-link-list {
    a {
        display: block;
        float: none;
        clear: both;
        overflow: hidden;
        background-color: $gray; // In case an image doesn't load, since the text is white
        max-width: 336px; // Max width of the image files (some are 340px, but whatever)
        position: relative;
        border-radius: 5px;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
        text-shadow: 3px 3px 4px black, 0 -1px 0 rgba(0, 0, 0, 0.5);

        &:active,
        &:hover,
        &:focus {
            text-decoration: none;
            //box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.05) inset;
        }

        span {
            color: white;
            font-size: 2em;
            font-weight: bold;
            line-height: 1em;
            position: absolute;
            z-index: 3;
        }

        .image-cover {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 2;
            background-color: rgba(0, 0, 0, 0.1);
            @include transition('all 0.15s ease 0s');
        }

        &:active,
        &:hover,
        &:focus {
            .image-cover {
                background-color: rgba(0, 0, 0, 0);
            }
        }

        img {
            max-width: 100%;
        }
    }

    /* -----------------------------------
     * Travel main page
     * -----------------------------------
     */

    .bg-travel-peru-argentina {
        span {
            bottom: $imgPositionOffset * 2;
            left: $imgPositionOffset;
        }
    }

    .bg-travel-spain {
        span {
            bottom: $imgPositionOffset;
            left: $imgPositionOffset;
        }
    }

    .bg-travel-turkey {
        span {
            top: 70%;
            right: $imgPositionOffset;
        }
    }

    .bg-travel-germany {
        span {
            top: $imgPositionOffset;
            left: $imgPositionOffset;
        }
    }

    .bg-travel-greece {
        span {
            bottom: $imgPositionOffset;
            left: 0;
            right: 0;
            text-align: center;
        }
    }

    .bg-travel-paris {
        span {
            top: $imgPositionOffset;
            right: $imgPositionOffset * 2;
        }
    }

    .bg-travel-france {
        span {
            top: $imgPositionOffset;
            left: $imgPositionOffset;
        }
    }

    .bg-travel-britain-benelux {
        span {
            top: $imgPositionOffset + 1;
            left: $imgPositionOffset + 3;
            text-align: left;
        }
    }

    /* -----------------------------------
     * Britain & Benelux
     * -----------------------------------
     */

    .bg-britain-netherlands {
        span {
            position: absolute;
            bottom: 6px;
            left: 0;
            width: 100%;
            text-align: center;
        }
    }

    .bg-britain-bruges {
        span {
            position: absolute;
            bottom: 6px;
            right: 16px;
            width: 100%;
            text-align: right;
        }
    }

    .bg-britain-edinburgh {
        span {
            position: absolute;
            bottom: 6px;
            right: 8px;
            width: 100%;
            text-align: right;
        }
    }

    .bg-britain-london {
        span {
            position: absolute;
            top: 20px;
            left: 0;
            text-align: center;
            width: 100%;
        }
    }

    .bg-britain-liverpool {
        span {
            position: absolute;
            bottom: 6px;
            left: 8px;
            width: 100%;
            text-align: left;
        }
    }

    /* -----------------------------------
     * Peru & Argentina
     * -----------------------------------
     */

    .bg-peru-argentina-amazon {
        span {
            font-size: 1.5em;
            position: absolute;
            bottom: 6px;
            left: 8px;
        }
    }

    .bg-peru-argentina-cusco {
        span {
            position: absolute;
            bottom: 6px;
            left: 0;
            width: 100%;
            text-align: center;
        }
    }

    .bg-peru-argentina-colonia {
        span {
            font-size: 1.5em;
            position: absolute;
            bottom: 6px;
            right: 6px;
            text-align: right;
        }
    }

    /* -----------------------------------
     * Spain
     * -----------------------------------
     */

    .bg-spain-world-cup {
        span {
            position: absolute;
            bottom: 6px;
            left: 8px;
        }
    }

    /* -----------------------------------
     * Turkey
     * -----------------------------------
     */

    .bg-turkey-istanbul {
        span {
            position: absolute;
            bottom: 0;
            right: 8px;
        }
    }

    .bg-turkey-cappadocia {
        span {
            position: absolute;
            top: 6px;
            left: 6px;
        }
    }

    .bg-turkey-cirali {
        span {
            position: absolute;
            top: 6px;
            left: 6px;
        }
    }

    .bg-turkey-ephesus {
        span {
            position: absolute;
            top: 6px;
            right: 8px;
        }
    }

    /* -----------------------------------
     * Germany
     * -----------------------------------
     */

    .bg-germany-austria {
        span {
            position: absolute;
            top: 24px;
            left: 8px;
        }
    }

    .bg-germany-bavaria {
        span {
            position: absolute;
            bottom: 16px;
            left: 0;
            text-align: center;
            width: 100%;
        }
    }

    .bg-germany-berlin {
        span {
            position: absolute;
            bottom: 6px;
            left: 12px;
        }
    }

    /* -----------------------------------
     * Greece
     * -----------------------------------
     */

    .bg-greece-athens {
        span {
            position: absolute;
            bottom: 6px;
            left: 8px;
        }
    }

    .bg-greece-sifnos {
        span {
            position: absolute;
            bottom: 6px;
            left: 0;
            text-align: center;
            width: 100%;
        }
    }

    .bg-greece-santorini {
        span {
            position: absolute;
            bottom: 6px;
            right: 4px;
        }
    }

    /* -----------------------------------
     * France
     * -----------------------------------
     */

    .bg-france-photos {
        span {
            position: absolute;
            bottom: 6px;
            right: 12px;
        }
    }

    /* -----------------------------------
     * Paris
     * -----------------------------------
     */

    .bg-paris-photos {
        span {
            position: absolute;
            bottom: 6px;
            right: 12px;
        }
    }
}

// Invert the image-cover action for touch devices
.touch .travel-link-list {
    a {
        .image-cover {
            background-color: rgba(0, 0, 0, 0);
            @include transition('background-color 0.2s ease-in');
        }

        &:active,
        &:hover,
        &:focus {
            .image-cover {
                background-color: rgba(0, 0, 0, 0.25);
            }
        }
    }
}

@media (max-width: #{$medium-screen}) {
    .travel-link-list .small-12 {
        margin-bottom: 1em;
    }
}

.travel-map {
    text-align: center;

    img {
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
        @include transition('all 0.15s ease 0s');

        &:hover {
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
        }
    }
}

// Google analytics image looks ugly when it doesn't load, so move it off-screen
img[src^='/gam.php?'] {
    position: absolute;
    left: -9999px;
    top: -99999px;
}

// Bigger than phone
// ---------------------
@media #{$tiny} {
    // 480px and up
    body,
    button,
    input,
    select,
    textarea {
        color: $charcoal;

        @media (prefers-color-scheme: dark) {
            color: white;
        }
    }

    p,
    li {
        font-size: emCalc(20px);
        line-height: emCalc(24px);
    }

    .travel-link-list {
        .bg-peru-argentina-amazon {
            span {
                font-size: 2em;
            }
        }

        .bg-peru-argentina-colonia {
            span {
                font-size: 2em;
            }
        }

        .bg-greece-santorini {
            span {
                right: 12px;
            }
        }
    }
}

// PORTRAIT TABLET AND UP
// ----------------------------------

@media #{$small} {
    // 600px and up
    .travel-link-list {
        a span {
            font-size: 3em;
        }

        .bg-peru-argentina-amazon {
            span {
                font-size: 3em;
            }
        }

        .bg-peru-argentina-colonia {
            span {
                font-size: 2.8em;
            }
        }
    }
}

@media (min-width: 740px) {
    // Images look funny (too short) around this size
    .travel-link-list a {
        // height: 284px;
        // max-height: 284px;
    }
}

// DEFAULT DESKTOP
// ---------------
@media #{$medium} {
    // 980px and up
    .button-link-list {
        & > div {
            margin-bottom: 2%;
            border-radius: 4px;
        }
    }

    .row {
        margin-left: 0;
    }

    .travel-link-list {
        & > div {
            margin-bottom: 2%;
            border-radius: 4px;
        }
    }
}

/* Ugh. */
#profolio-main section a {
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}

.cp-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: 1rem;
    margin-right: 1rem;

    .cp-item {
        flex-basis: 33%;
        max-width: 33%;

        @media (max-width: #{$medium-screen}) {
            flex-basis: 50%;
            max-width: 50%;
        }

        @media (max-width: #{$small-screen}) {
            flex-basis: 100%;
            max-width: 100%;
        }
    }
}
