@charset "utf-8";

.out-obj-l1 {
  color: #390;
}

.out-obj-l2 {
  color: #930;
}

#output th:nth-child(3),
#output td:nth-child(3) {
  padding-left: 2em;
}

.string-out {
}

input.arr-out {
}

label.arr-out {
  display: none;
}

#preview {
  border: 1px solid #999;
  padding: 10px;
  overflow: hidden;
}

#preview-main {
  float: left;
  min-width: 50%;
  padding: 5px;
}

#preview-bg {
  padding: 5px;
  overflow: hidden;
}

.preview-text {
  font-family: Menlo, Monaco, Consolas, 'Lucida Console', monospace;
  font-size: 20px;
  color: white;
  font-weight: bold;
  text-shadow: 0 1px 0 black, 0 -1px 0 #444, -1px 0 0 #666, 1px 0 0 black;
}

#preview-bg .preview-text {
  float: left;
  margin-right: 20px;
}

#examples {
  font-family: Menlo, Monaco, Consolas, 'Lucida Console', monospace;
}

#examples td {
  border: 1px solid #777;
  padding: 4px 6px;
  color: white;
  font-weight: bold;
  text-shadow: 0 1px 0 black, 0 -1px 0 #444, -1px 0 0 #666, 1px 0 0 black;
}
